:root {
  /* margin-l-r mobile body */
  --mgLRMobile: 1.6rem;
  --pictureMobile: -1.6rem;
}

* {
  outline: 1px dashed white;
  margin: 0;
  padding: 0;
  color: #cfcfcf;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
}

body {
  background-color: #3a3a3a;
  font-size: 16px;
}

h1 {
  font-size: 1.17em;
}

article {
  width: 100%;
}

article a {
  text-decoration: none;
}

article a:hover {
  cursor: pointer;
}

article a:hover h1,
article a:hover h2 {
  text-decoration: underline;
}

article header h1,
article header h2 {
  color: #2a303b;
  font-family: "The Antiqua B", Georgia, Droid-serif, serif;
  text-overflow: ellipsis;
}

article header h1 span:first-child,
article header h2 span:first-child {
  background-color: goldenrod;
  color: white;
  font-size: 12px;
  padding: 2px;
  margin-left: 3px;
}

article header h1 {
  font-weight: 800;
  line-height: 1.19;
}

article header h2 {
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 800;
}

article main section.article-media {
  position: relative;
  width: 100%;
  height: 300px;
}

article main section.article-media picture.article-picture {
  position: absolute;
  top: 0;
  left: var(--pictureMobile);
  width: calc(100% + var(--mgLRMobile) * 2);
  overflow: auto;
  height: 100%;
  overflow: hidden;
}

article main section.article-media picture.article-picture img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: gray;
}

article main p {
  font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
  display: block;
  line-height: 1.29;
  margin: 1.6rem 0;
}

article footer {
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.33;
}

article footer ul {
  list-style-type: none;
  font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
}

article footer ul li {
  margin-bottom: 1.2rem;
}

main#main {
  width: 100%;
}

main#main div.main-container {
  margin: 0 var(--mgLRMobile);
  position: relative;
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  main#main div.main-container {
    grid-template: repeat(3);
  }
}

main#main div.main-container .zone-homepage .homepage-headlines article.headlines main section.article-media {
  position: relative;
  width: 11.4rem;
  height: 300px;
}

main#main div.main-container .zone-homepage .homepage-headlines article.headlines main section.article-media picture.article-picture {
  top: 0;
  left: 0;
  width: 100%;
  overflow: auto;
  height: 100%;
  overflow: hidden;
}

main#main div.main-container .zone-homepage .homepage-headlines article.headlines main section.article-media picture.article-picture img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: gray;
}

main#main div.main-container .zone-homepage .homepage-headlines article.headlines main p {
  display: none;
}

main#main div.main-container .zone-homepage .homepage-headlines article.headlines footer {
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=main.css.map */