// dev
$bgcolor: rgb(58, 58, 58);
$color: rgb(207, 207, 207);
// $bgcolor: rgb(255, 255, 255);
// $color: rgb(0, 0, 0);

// dev
:root {
    /* margin-l-r mobile body */
    --mgLRMobile: 1.6rem;
    --pictureMobile: -1.6rem;
}
* {
    // outline: 1px dashed white;
    margin: 0;
    padding: 0;
    color: $color;
}

@mixin bg($mixincolor) {
    background-color: $mixincolor;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, Roboto, sans-serif;
}
body {
    @include bg($bgcolor);
    font-size: 16px;
}
h1 {
    font-size: 1.17em;
}

article {
    width: 100%;
    margin: 2.4rem 0;
    padding-top: 2.4rem;
    border-top: 0.1rem solid #d5d8dc;

    a {
        text-decoration: none;
        &:hover {
            cursor: pointer;
            h1,
            h2 {
                text-decoration: underline;
            }
        }
    }
    header {
        h1,
        h2 {
            color: #2a303b;
            font-family: "The Antiqua B", Georgia, Droid-serif, serif;
            span:first-child {
                background-color: goldenrod;
                color: white;
                font-size: 12px;
                padding: 2px;
                margin-left: 3px;
            }
            text-overflow: ellipsis;
        }
        h1 {
            // font-size: 1.7rem;
            font-weight: 800;
            line-height: 1.19;
        }

        h2 {
            line-height: 1.25;
            font-size: 1rem;
            font-weight: 800;
        }
    }
    main {
        section.article-media {
            position: relative;
            width: 100%;
            height: 300px;
            picture.article-picture {
                // 360 * 240
                position: absolute;
                top: 0;
                left: var(--pictureMobile);
                width: calc(100% + var(--mgLRMobile) * 2);
                // aspect-ratio: 360 / 240;
                height: 100%;
                overflow: hidden;
                @media (min-width: 768px) {
                    left: 0;
                    width: 100%;
                }

                img {
                    width: 100%;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: gray;
                }
            }
        }
        p {
            font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
            // color: #2a303b;
            display: block;
            // font-size: 1.7rem;
            line-height: 1.29;
            margin: 1.6rem 0;
        }
    }
    footer {
        font-weight: 500;
        font-size: 0.9rem;
        line-height: 1.33;
        ul {
            list-style-type: none;
            font-family: "Marr Sans", Helvetica, Arial, Roboto, sans-serif;
            li {
                margin-bottom: 1.2rem;
            }
        }
    }
}
// --------------------------------------------------------------main--------------------------------------------------------------
main#main {
    width: 100%;
    display: grid;
    justify-content: center;
    div.main-container {
        max-width: 100rem;
        margin: 0 var(--mgLRMobile);
        position: relative;

        .zone-homepage {
            border-top: 0.1rem solid #d5d8dc;

            @media (min-width: 1024px) {
                .homepage-main {
                    display: grid;
                    grid-template: repeat(3, auto) / repeat(3, 1fr) 30rem;
                    grid-column-gap: 2.4rem;
                    box-shadow: 0 0.2rem #f5f6f8 inset, 0.15rem 0 #f5f6f8 inset, -0.15rem 0 #f5f6f8 inset;
                    max-width: 100rem;
                    padding-bottom: 4rem;
                    margin: 0 auto;
                    padding-left: 1.6rem;
                    padding-right: 1.6rem;
                }
                .homepage-une {
                    grid-area: 1/1/2/3;
                }
                .homepage-headlines {
                    display: grid;
                }
                .homepage-runner {
                    grid-area: 2/1/3/4;
                }
                .homepage-river{
                    display: grid;
                    
                }
            }

            .homepage-une article.une {
                border-top: none;
            }
            .homepage-headlines article.headlines a,
            .homepage-runner article.runner a {
                width: 100%;
                display: grid;
                grid-template: 100% / 1fr 114px;
                main {
                    margin: 0;

                    height: 6.4rem;
                    section.article-media {
                        picture.article-picture {
                            left: 0;
                            width: 100%;
                            height: 75.66px;
                        }
                    }
                    p {
                        display: none;
                    }
                }
            }

            .homepage-featured article.featured a {
                @media (min-width: 1024px) {
                    border-top: 0;
                    padding-top: 0;
                    border-bottom: 0;
                    margin-bottom: 0;
                    border: 0.1rem solid rgba(0, 0, 0, 0.09);
                }
                display: grid;
                grid-template-rows: auto 50px;
                header {
                    position: relative;
                    box-sizing: border-box;
                    text-align: center;
                    top: -2.5rem;
                    background-color: $bgcolor;
                    z-index: 1;
                    width: 90%;
                    margin: auto;
                    padding: 1rem;

                    height: auto;
                }
                main {
                    order: -1;
                    overflow: hidden;
                    margin: 0;
                    section.article-media {
                        picture.article-picture {
                            left: 0;
                            width: 100%;
                        }
                    }
                }
                p {
                    padding: var(--mgLRMobile);
                }
            }
            // .homepage-river article.main {
            // }
        }

        // .zone-friendship {
        // }
        // .zone-sectionroll {
        //     .zone-banniere {
        //     }
        // }
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
